{% extends 'base.html' %}

{% block title %}
Sign In Google Style
{% endblock title %}
{% block content %}
<div class="l-form">
    <form action="" class="form">
        <h1 class="form_title">Sign In</h1>
        <div class="form_div">
            <input type="text" class="form_input" placeholder=" ">
            <label class="form_label">Email</label>
        </div>
        <div class="form_div">
            <input type="password" class="form_input" placeholder=" ">
            <label class="form_label">Password</label>
        </div>
        <input type="submit" class="form_button" value="Sign In">
    </form>
</div>
{% endblock content %}